body {
  background: black;
  color: white;
  height: 100%;
  margin: 0; /* Ensure no default margin */
}

html {
  background: black;
  color: white;
  height: 100%;
  margin: 0; /* Ensure no default margin */
}